@import '../../../variables';

// FIXME duplication with concept.component.scss

.component {
  border-left: 1px solid #ddd;
  min-height: calc(100vh - 10px);
  margin-top: 10px;
}

.component-header {
  background-color: $brand-primary;
  color: white;
  padding: 9px 20px;
  border-bottom: solid 1px #ddd;
  font-size: 26px;
  height: 53px;

  h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 35px;
  }
}

.component-content {
  padding: 15px;
}
