@import '~yti-common-ui/theme/variables';

$left-width: 400px;

.top {
  margin-bottom: 20px;
}

.bottom {
  padding-top: 20px;
  border-top: 1px solid $gray;
}

.panel-left {
  width: $left-width;
  float: left;
  border: 1px solid $gray;
}

.panel-right {
  width: calc(100% - #{$left-width});
  float: right;
  padding-left: 10px;

  div.selection-container {
    float: left;
  }

  div.visualization-container {
    float: right;

    .floating {
      padding-right: 46px;
    }

    app-divider {
      float: left;
      width: 10px;
    }

    app-concept-network {
      float: left;
      width: calc(100% - 10px);

      &.without-divider {
        width: 100%;
      }

      &.maximized {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

:host /deep/ {

  ul.nav-tabs {

    padding: 0;
    width: 100%;
    margin: 10px 0;

    .nav-item {

      margin-left: 10px;
      margin-right: 10px;

      > a {
        font-size: small;
        padding: 5px 0;

        > p {
          margin-bottom: 10px;
        }
      }
    }
  }
}
