@import '../../../variables';

.search-results {

  ul {

    overflow-y: auto;
    height: calc(100vh - 184px);
    padding: 0;

    li {
      cursor: pointer;
      padding: 3px 5px;
      margin: 0;
      font-size: 14px;
      list-style: none;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.selection {
        background-color: #f5f5f5;
      }
    }

    li:hover {
      color: $brand-primary;
      background-color: $list-group-hover-bg;
    }
  }
}

.actions {

  padding-left: 5px;
  padding-right: 5px;

  .input-group-search {
    width: calc(100% - 43px);
    float: left;
  }

  .btn-filters {
    float: left;
    padding: 10px 10px 9px 10px;
    cursor: pointer;
  }

  .btn-add-new {
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

.filters {

  width: 250px;
  display: inline-block;
  background-color: white;

  span.title {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}

:host /deep/ ngb-popover-window {
  z-index: 1040; // prevent from showing on top of modal
}
