@import '../../../theme/variables';
@import '../../../mixins';

$button-height: 56px;
$buttonless-height: 67px;

.selectable-actions {
  @include selectable-actions();
}

.selectable-concepts {
  padding: 5px 15px;

  ul {
    overflow-y: auto;
    height: calc(100vh - #{$buttonless-height});

    &.has-button {
      height: calc(100vh - #{$buttonless-height + $button-height});
    }
  }
}

:host /deep/ .selectable-concepts {

  ul {

    padding: 0;

    li {
      padding: 2px 5px 2px 15px;
      margin: 0;
      font-size: 14px;
      list-style: none;

      i {
        cursor: pointer;
        margin-left: -15px;
        padding-right: 0;
        padding-top: 5px;
        line-height: 21px;
        vertical-align: middle;

        &:hover {
          color: $primary;
        }
      }

      div {
        cursor: pointer;
        padding: 3px 5px;
        margin: 0;
        line-height: 21px;
        vertical-align: middle;

        border-left: $active-indicator-width solid $white;

        &.selection {
          font-weight: bold;
        }

        &:hover, &.selection {
          border-left: $active-indicator-width solid $primary;
        }

        display: inline-block;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
