@import '../../../theme/variables';
@import '../../../mixins';

$button-height: 57px;
$buttonless-height: 127px;

.selectable-actions {
  @include selectable-actions();

  .input-group-search {
    width: calc(100% - 28px);
    float: left;
  }

  .btn-filters {
    color: $primary;
    float: left;
    padding: 10px 15px;
    margin-left: 3px;
    margin-right: -12px;
    cursor: pointer;
    position: relative;

    .tooltip-overlay {
      width: 40px;
      height: 44px;
      left: -5px;
      top: 0;
      position: absolute;
    }
  }

  .filters {
    width: 250px;
  }
}

.selectable-concepts {
  @include selectable-items($button-height, $buttonless-height);
}

:host /deep/ ngb-popover-window {
  z-index: 1040; // prevent from showing on top of modal
}

app-ajax-loading-indicator-small {

  position: absolute;
  right: 5px;
  top: 12px;
  z-index: 100;
}
