.icon {

  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.checkbox {

  input {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
  }

  label {
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block;
  }
}
