@import '../../../theme/variables';
@import '../../../mixins';

$button-height: 57px;
$buttonless-height: 123px;

.selectable-actions {
  @include selectable-actions();
}

.selectable-collections {
  @include selectable-items($button-height, $buttonless-height);
}
