<div class="content-box">

  <h1>Tietoa Sanastoista</h1>

  <p>Sanastot-työkalu on sanastojen ja käsitteiden ylläpitopalvelu kuvaileville ja terminologisille sanastoille.</p>
  <p>Sanastot-työkalulla organisaatio luo ja ylläpitää määritteleviä (terminologisia) sanastoja. Sanastot-työkalulla tuotetut uudet käsitteet julkaistaan yhteiseen käyttöön vasta, kun julkisen hallinnon ydinsanastoryhmä (YSR) on ne arvioinut ja hyväksynyt.</p>
  <p>Sanastot-työkalu julkaistiin tammikuussa 2018. Kehitystyö jatkuu yhteistyössä käyttäjien kanssa.</p>

  <h2>Sanastot-työkalu on tarkoitettu</h2>

  <ul>
    <li>organisaation sanastotyön tekijöille</li>
    <li>tietoarkkitehdeille ja tietomallintajille</li>
    <li>IT-asiantuntijoille</li>
    <li>viestinnän asiantuntijoille ja kääntäjille</li>
    <li>julkisen hallinnon palveluja käyttäville kansalaisille, jotka haluavat selvittää hallinnon käyttämien käsitteiden merkityksiä.</li>
  </ul>

  <h2>Sanastot-työkalulla</h2>

  <ul>
    <li>ylläpidetään sanastoja</li>
    <li>määritellään käsitteitä</li>
    <li>määritellään käsitteiden suhteita toisiin käsitteisiin</li>
    <li>ehdotetaan uusia käsitteitä julkisen hallinnon yhteiseen käyttöön</li>
    <li>visualisoidaan sanastoja ja käsitteiden välisiä suhteita.</li>
  </ul>

  <h2>Hyödyt käyttäjille</h2>

  <ul>
    <li>Sanaston ylläpitäminen toteutetaan nykyaikaisella tavalla, helpottaen sanaston muutoshallintaa ja työn näkyvyyttä.</li>
    <li>Sanastot-työkalu tarjoaa yhden paikan, josta löytää eri toimijoiden tuottamat sanastot niiden eri työvaiheissa.</li>
    <li>Sanastojen käyttö on luotettavaa, kun sanastot ovat ylläpidettyjä ja ajantasaisia.</li>
    <li>Sanastot-työkalu kokoaa tietomallinnuksen tuottamat uudet käsitteet. Käsitteitä voi ehdottaa sanastoihin Tietomallit-työkalusta.</li>
  </ul>

  <h2>Miten voin liittyä työkalun käyttäjäksi?</h2>

  <p>Sanastot-työkalua voi käyttää verkossa osoitteesta <a id="service_link" href="https://sanastot.suomi.fi" target="_blank">https://sanastot.suomi.fi</a>. Tietojen tuonti ja muokkaus edellyttävät organisaatiokohtaisia käyttöoikeuksia. Sanastot-työkalun käyttöönotto on mahdollista yhteentoimivuusalustan oikeuksienhallintasovelluksella.</p>

  <h2>Katso myös</h2>

  <ul>
    <li>
      <a id="interoperability_site_link" href="https://yhteentoimiva.suomi.fi" target="_blank">yhteentoimiva.suomi.fi</a>
    </li>
    <li>
      <a id="documentation_link" href="https://confluence.csc.fi/display/VRKYTI/VRK+YTI" target="_blank">
        YTI-hankkeen dokumentaatio Confluencessa
      </a>
    </li>
    <li>
      VM:n
      <a id="vm_yti_link" href="http://vm.fi/yhteinen-tiedon-hallinta" target="_blank">
        yhteinen tiedon hallinta (YTI) -hankkeen sivut
      </a>
    </li>
    <li>
      <a id="ysr_link" href="https://wiki.julkict.fi/julkict/juhta/juhta-tyoryhmat-2016/sanastot/julkisen-hallinnon-ydinsanastoryhma-esittelysivu" target="_blank">
        Julkisen hallinnon ydinsanastoryhmän sivut
      </a>
    </li>
    <li>
      <a id="finto_link" href="https://finto.fi" target="_blank">Finto</a>
    </li>
   </ul>

   <h2>Ota yhteyttä</h2>
   <p>Sähköpostilla osoitteeseen yhteentoimivuus[at]dvv.fi</p>

</div>
