<div class="content-box">
  
  <h1>Sanastot</h1>
  <br/>
  <p>Sanastoeditori on sanastojen ja käsitteiden ylläpitopalvelu kuvaileville sanastoille ja terminologisille sanastoille.</p>
  <p>Sanastoeditori julkaistiin tammikuussa 2018. Kehitystyö jatkuu yhteistyössä käyttäjien kanssa.</p>
  <p>Sanastoeditori on tarkoitettu</p>
  <ul>
    <li>organisaation sanastotyön tekijöille</li>
    <li>tietoarkkitehdeille ja tietomallintajille</li>
    <li>IT-asiantuntijoille</li>
    <li>viestinnän asiantuntijoille ja kääntäjille</li>
    <li>julkisen hallinnon palveluja käyttäville kansalaisille, jotka haluavat selvittää hallinnon käyttämien käsitteiden merkityksiä</li>
  </ul>
  <p>Sanastoeditorilla</p>
  <ul>
    <li>ylläpidetään sanastoja</li>
    <li>määritellään käsitteitä</li>
    <li>määritellään käsitteiden suhteita toisiin käsitteisiin</li>
    <li>ehdotetaan uusia käsitteitä julkisen hallinnon yhteiseen käyttöön</li>
    <li>visualisoidaan sanastoja ja käsitteiden välisiä suhteita</li>
  </ul>
  <p>Mitä hyötyä Sanastoeditorista on?</p>
  <ul>
    <li>sanaston ylläpitäminen toteutetaan nykyaikaisella tavalla, helpottaen sen muutoshallintaa ja työn näkyvyyttä</li>
    <li>tarjoaa yhden paikan, josta löytää eri toimijoiden tuottamat sanastot niiden eri työvaiheissa </li>
    <li>sanastojen käyttö on luotettavaa, kun sanastot ovat ylläpidettyjä ja ajantasaisia</li>
    <li>sanastoeditori kokoaa tietomallinnuksen tuottamat uudet käsitteet</li>
  </ul>
  
</div>
