@import '../../../theme/variables';

div {
  display: inline-block;
  float: left;
  height: calc(100vh - 2px);
  width: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: col-resize;
    border: 1px dashed;
  }
}
