@import '~suomifi-design-tokens/dist/tokens';
@import url('https://designsystem.suomi.fi/fonts/source-sans-3.css');

html,
body {
  padding: 0;
  margin: 0;
  @include fi-text-body-text;
  background-color: $fi-color-depth-light3;
}

// Workaround for broken expanders on Chrome 129+ and Edge 129+
// Will be fixed by upgrading to suomifi-ui-components 14.0.1
.fi-expander_content {
  animation: unset !important;
}
