@import "~yti-common-ui/theme/variables";

// TODO more generic mechanism for result lists instead of abusing search-results

.modal-header {
  flex-direction: column;

  h6 {
    margin: 20px 0 0 0;
    span {
      float: none;
    }
  }
}

.modal-body {
  border: 1px solid $gray-200;
  &.full-height {
    height: calc(100vh - 275px);
  }
}

.search-results {
  .search-result {

    border-left: none;
    cursor: default;

    .content {
      margin-left: 0;
      padding-top: 0px;
      padding-bottom: 5px;
    }

    &:last-of-type {
      .content {
        border-bottom: none;
      }
    }
  }
}

ul.errors {
  border-left: 5px solid $danger;
  padding-left: 15px;
  margin-bottom: 0;

  li {
    list-style-type: none;
  }

  li:before {
    content: '\b7\a0';
  }
}
