// TODO more generic mechanism for result lists instead of abusing search-results

.search-results {
  .search-result {

    border-left: none;
    cursor: default;

    .content {
      margin-left: 0;
    }
  }
}
