@import '../../../variables';

$language-height: 15px;
$language-width: 25px;

.error-alert {
  display: inline;
  padding: 6px;
  margin: 0 5px 0 0;
}

.headline-row {
  margin: 0 0 10px 0;
}

.concepts-from-csv {
  .concept-from-csv {
    font-size: small;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 2px #7e9cad;
    overflow-wrap: break-word;
  }

  .concept-property {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .localization-lang {    
    float: left;
    color: white;
    background-color: $brand-primary;
    width: $language-width;
    height: $language-height;
    display: inline-block;
    text-align: center;
    line-height: $language-height;
  }

  .localization-value {
    margin-left: 30px;
  }
}