@import '~yti-common-ui/theme/variables';

$light-blue-background: #edf3f9 !default;

.badge {
  font-family: $font-family-sans-semibold;
  border-radius: 2px;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.85rem;

  & ~ & {
    margin-left: .66667em;
  }

  &-info {
    color: $black;
    background-color: $light-blue-background;
  }
}

.vocabularies-container {

  .tool-inner-title {
    display: none;
  }

  .tool-info {
    width: calc(100% - 200px);
  }

  .search-label {
    font-weight: bolder;
    font-size: 0.86rem;
    padding-bottom: 0.55rem;
  }

  .inline-label {
    padding: 0.55rem 0.55rem 0.55rem 0rem;
  }

  .result-list-container {
    padding-bottom: 0px;
  }

  .result-list-item {
    border-top: 1px solid $gray-500;
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  ul.dot-separated-list {
    display: block;
    margin: 0px;
    padding: 0px;

    li {
      display: inline-block;
      color: $gray-k40;
      font-size: 0.75rem;
      line-height: 0.9375rem;
    }

    li:not(:empty) ~ li:not(:empty):before {
      content: "·";
      padding-left: .66667em;
      padding-right: .66667em
    }
  }
}

#add_vocabulary_button {
  margin-bottom: 30px;
}

.classification {

  display: flex;
  width: 100%;
  padding: 0px 10px 0px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid $white;
  align-items: center;

  &:hover, &.active {
    background-color: $light-blue-background;
    border-color: $gray-500;
  }

  &.active {
    font-weight: 500;
  }

  img {
    width: 36px;
    height: 36px;
    margin: 0px 10px 0px 0px;
    flex: 0 0 auto;
  }

  .name {
    min-width: 0px;
    flex: 1 1 auto;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .count {
    color: $primary;
    flex: 0 0 auto;
  }
}

.vocabulary {

  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  .name {
    color: $blue-link;
    font-family: $font-family-sans-semibold;
    font-size: large;
    font-weight: 400;
    width: calc(100% - 200px);
    display: block;
  }

  .description-container {
    position: relative;
    width: calc(100% - 200px);
    line-height: 1.5em;
    max-height: 7em;
    overflow: hidden;

    .description {
      display: block;
      position: relative;
      margin-top: 1em;
      margin-bottom: 0.3em;
      z-index: 1;

      &:empty {
        display: none;
      }
    }

    .limiter-container {
      position: absolute;
      top: 0px;
      bottom: 0px;
      min-height: 7em;
      width: 100%;
    }

    .description-limiter {
      z-index: 2;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0));
      position: absolute;
      height: 1.5em;
      width: 100%;
      top: 5.5em;
      text-align: center;
      cursor: pointer;
    }

    &.expand {
      max-height: fit-content;

      .description-limiter {
        top: auto;
        width: 2em;
        height: 3px;
        bottom: 0px;
        left: calc(50% - 1em);
        background: $black;
        border-radius: 2px;
      }
    }

  }


  .groups {
    display: block;
    margin: 0.5rem 0 0.5rem 0;
  }

  .organizations {
  }

  .organization {
  }

  .type {
    float: right;
    clear: right;
    color: $gray-k40;
    margin-bottom: 0.5rem;

    i.material-icons {
      color: $orange;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .status {
    float: right;
    clear: right;
  }
}
