@import '~suomifi-design-tokens/dist/tokens';

html,
body {
  padding: 0;
  margin: 0;
  @include fi-text-body-text;
  background-color: $fi-color-depth-light3;

  .fi-modal_overlay {
    z-index: 1;
  }

  .fi-portal {
    z-index: 2;
  }
}

// Workaround for broken expanders on Chrome 129+ and Edge 129+
// Will be fixed by upgrading to suomifi-ui-components 14.0.1
.fi-expander_content {
  animation: unset !important;
}
