@import '~suomifi-design-tokens/dist/tokens';

html,
body {
  padding: 0;
  margin: 0;
  @include fi-text-body-text;
  background-color: $fi-color-depth-light3;

  .fi-modal_overlay {
    z-index: 1;
  }

  .fi-portal {
    z-index: 2;
  }
}
