@import '~yti-common-ui/theme/variables';

:host > p:last-child {
  margin-bottom: 0;
}

:host /deep/ .popover {
  max-width: 500px !important;
}

[app-semantic-text-plain-element] {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p.invalid-data {
  color: $danger;
  font-weight: bolder;

  &:before {
    content: "ERROR: ";
  }
}
