@import '~yti-common-ui/theme/variables';

.component {

  .canvas-container {

    border: 1px solid $gray;
    position: relative;
    background-color: $white;

    .network-canvas {
      width: 100%;
      height: calc(100vh - 3px);
    }

    .legend {
      top: 0;
      left: 0;
      position: absolute;
      border-bottom: solid 1px $gray;
      border-right: solid 1px $gray;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .minimize, .maximize {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

