@import '~yti-common-ui/theme/variables';

app-breadcrumb {
  width: 100%;
  z-index: 10;
  height: 35px;
  background: white;
}

.loading-indicator {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: absolute;

  .error {
    color: $danger;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
