@import '../../variables';

$left-width: 400px;

.panel-left {
  width: $left-width;
  float: left;
}

[float] {
  padding-top: 10px;
}

.visualization-container {
  .floating {
    padding-right: 15px;
  }
}

.panel-right {
  width: calc(100% - #{$left-width});
  float: right;
  padding-left: 10px;

  div.selection-container {
    float: left;
  }

  div.visualization-container {
    float: right;

    divider {
      float: left;
      width: 10px;
    }

    concept-network {
      float: left;
      width: calc(100% - 10px);

      &.without-divider {
        width: 100%;
      }
    }
  }
}

:host /deep/ {

  .nav-tabs {

    border-bottom: none;
    margin-bottom: 5px;

    li.nav-item {

      width: 50%;

      > a {
        padding: 0;
        margin: 0 0 0 2px;
        background-color: $brand-accent-lighter;
        color: #444;
        border-color: white;

        &.active {
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #fff;
          background-color: white;
          color: #6f6f6f;
        }
      }

      i {
        width: 100%;
        padding-top: 5px;
        text-align: center;
        font-size: x-large;
      }

      p {
        width: 100%;
        text-align: center;
        font-size: x-small;
        margin-bottom: 5px;
      }
    }
  }
}
