@import '../../variables';

.tree ul {
  overflow-y: auto;
  height: calc(100vh - 80px);
}

:host /deep/ .tree {

  ul {

    padding: 0;

    li {
      padding: 0 0 0 20px;
      margin: 0;
      font-size: 14px;
      list-style: none;

      i {
        cursor: pointer;
        margin-left: -15px;
        padding-right: 0;
        padding-top: 5px;
        line-height: 21px;
        vertical-align: middle;

        &:hover {
          color: $brand-primary;
        }
      }

      div {
        cursor: pointer;
        padding: 3px 5px;
        margin: 0;
        line-height: 21px;
        vertical-align: middle;

        &:hover {
          color: $brand-primary;
          background-color: $list-group-hover-bg;
        }

        display: inline-block;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .selection {
        background-color: #f5f5f5;
      }
    }
  }
}
