$language-width: 30px;
$language-height: 32px;

div.localized {

  margin-bottom: 5px;
  margin-left: -40px;
  display: inline-block;
  width: 100%;

  div.language {
    float: left;
    background-color: #ddd;
    width: $language-width;
    height: $language-height;
    display: inline-block;
    text-align: center;
    line-height: 29px;

    &.editing {
      border: none;
    }

    div.form-group {
      margin-bottom: 0;
    }

    input {
      padding: 6px;
      text-align: center;
      background-color: #ddd;
    }
  }

  div.localization {
    float: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: calc(100% - #{$language-width});
    min-height: $language-height;
    padding-left: 10px;

    &.editing {
      border: none;
    }

    div.form-group {
      margin-bottom: 0;
    }

    input {
      margin-left: -10px;
      padding: 6px 10px;
    }
  }
}
