@import '../../variables';

$language-width: 30px;
$language-height: 32px;

div.localized {

  display: inline-block;
  width: 100%;

  div.language {

    float: left;
    color: white;
    background-color: $brand-primary;
    width: $language-width;
    height: $language-height;
    display: inline-block;
    text-align: center;
    line-height: 33px;
  }

  div.localization {

    float: left;
    border: 2px solid $brand-primary;
    width: calc(100% - #{$language-width});
    min-height: $language-height;
    padding-left: 10px;
    line-height: 28px;

    div.form-group {
      margin-bottom: 0;
    }

    input, textarea {
      margin-left: -10px;
      padding: 6px 10px;
      border: none;
    }

    input {
      height: 28px;
    }
  }
}
