:host /deep/ {
  .card {
    border-left: none;
    border-right: none;
  }
  .card-header {
    background-color: #ebeff2;
    border: none;
    padding: 5px 0 5px 5px;

    a {
      color: rgb(68, 68, 68);
      text-decoration: none !important;
    }

    h2 {
      padding-left: 10px;
      margin: 10px 0 10px 0;
    }
  }
}
