body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif !important;
}

@keyframes fadeInAnimation
{
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation
{
  0%
  {
    opacity: 1;
  }

  100%
  {
    opacity: 0;
  }
}


.fi-dropdown_popover {
  margin-top: 0px !important;
}

.fi-notification {
  position: fixed;
  bottom: 111px;
  right: 15px;
  margin: 100px;
  width: 20% !important;
}

/* EDIT MAPPING MODAL */
.edit-mapping-modal {
  width: 1000px !important;
  .bg-light-blue {
    background: #d5e4f6 !important;
    height: 460px;
  }
  .edit-mapping-modal-content {
    font-size: 0.9rem;
    padding: 30px 30px 30px 30px !important;
    height: 600px !important;
  }
}

.empty-mappings-table {
  display: flex;
  font-size: 0.9rem;
  height: 200px;
  padding: 20px;
  background: #ecedee;
  color: #6b6b6b;
  svg {
    margin-right: 15px;
  }
}

.node-selection-action-buttons {
  button {
    margin: 5px 0px;
  }
  flex-direction: column;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-top: 3px solid #d5e4f6;
  button {
    min-width: 69px;
    margin: 20px 15px 10px 10px;
  }
}

.modal-busy-overlay {
  display: flex;
  position: fixed;
  align-items: stretch;
  justify-content: center;
  background: rgba(255, 255, 255, 0.72);
  padding: 30px;
  margin: 45px -30px -30px -30px;
  z-index: 500;
  width: 100%;
  max-width: 740px;

  &.schema-registration-modal {
    min-height: 230px;
    height: calc(100% - 270px);
    @media screen and (min-height: 1000px) {
      height: calc(100% - 280px);
    }
    @media screen and (min-height: 1200px) {
      height: calc(100% - 450px);
    }
  }
  &.crosswalk-registration-modal {
    min-height: 230px;
    height: calc(100% - 50vh);
    @media screen and (min-height: 500px) {
      height: calc(100% - 48vh);
    }
    @media screen and (min-height: 600px) {
      height: calc(100% - 40vh);
    }
    @media screen and (min-height: 700px) {
      height: calc(100% - 34vh);
    }
    @media screen and (min-height: 800px) {
      height: calc(100% - 30vh);
    }
    @media screen and (min-height: 950px) {
      height: calc(100% - 25vh);
    }
    @media screen and (min-height: 1000px) {
      height: calc(100% - 27vh);
    }
    @media screen and (min-height: 1125px) {
      height: calc(100% - 33vh);
    }
    @media screen and (min-height: 1225px) {
      height: calc(100% - 46vh);
    }

  }
  &.crosswalk-creation-modal {
    height: calc(100% - 48vh);
    @media screen and (min-height: 600px) {
      height: calc(100% - 40vh);
    }
    @media screen and (min-height: 650px) {
      height: calc(100% - 48vh);
    }
    @media screen and (min-height: 800px) {
      height: calc(100% - 57vh);
    }
    @media screen and (min-height: 950px) {
      height: calc(100% - 64vh);
    }
    @media screen and (min-height: 1150px) {
      height: calc(100% - 70vh);
    }
  }
  &.schema-tree-single {
    position: absolute;
    width: auto;
    height: 260px;
    max-width: 160px;
    padding: 0px;
    margin-top: 150px;
    margin-left: 33%;
  }
  &.schema-tree-double {
    position: absolute;
    width: auto;
    height: 260px;
    max-width: 160px;
    padding: 0px;
    margin-top: 150px;
    margin-left: 16.5%;
  }
  &.crosswalk-revision-modal {
    height: calc(100% - 44vh);
    @media screen and (min-height: 600px) {
      height: calc(100% - 40vh);
    }
    @media screen and (min-height: 650px) {
      height: calc(100% - 40vh);
    }
    @media screen and (min-height: 800px) {
      height: calc(100% - 53vh);
    }
    @media screen and (min-height: 950px) {
      height: calc(100% - 58vh);
    }
    @media screen and (min-height: 1150px) {
      height: calc(100% - 65vh);
    }
  }
  &.schema-revision-modal {
    height: calc(100% - 48vh);
    @media screen and (min-height: 600px) {
      height: calc(100% - 39vh);
    }
    @media screen and (min-height: 650px) {
      height: calc(100% - 36vh);
    }
    @media screen and (min-height: 800px) {
      height: calc(100% - 30vh);
    }
    @media screen and (min-height: 1000px) {
      height: calc(100% - 30vh);
    }
    @media screen and (min-height: 1150px) {
      height: calc(100% - 41vh);
    }
  }
}

.crosswalk-editor {
  color: #2b2b2b;

  h2 {
    color: #6b6b6b;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .link-button {
    width: 60px;
    height: 60px;
    svg {
      margin-left: -2px;
    }
  }

  // Crosswalk editor tree
  .MuiTreeItem-label {
    font-size: 17px !important;
  }

  .MuiTreeItem-iconContainer svg {
    font-size: 26px !important;
  }

  .MuiTreeItem-content {
    padding: 0px;
  }

  .MuiTableCell-root {
    font-size: 17px;
    &.filename {
      word-break: break-word;
    }
  }

  .MuiButton-root {
    font-size: 17px;
  }

  .MuiTabs-scroller button {
    font-size: 27px;
  }

  .linked-tree-item {
    font-size: 10px;
    //background-color: #ede4ff !important;
  }

  .linkable-tree-item {
    //background-color: #eaffe4 !important;
  }

  .not-linkable-tree-item {
    //background-color: #ffe4e4 !important;
  }

  .MuiTreeItem-label {
    cursor: pointer !important;
    user-select: none;
  }

  .mid-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    flex-flow: wrap;
    button {
      height: 60px;
      width: 60px;
      border-radius: 4px;
    }
  }

  h5 {
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: bold;
  }

  .actions-link-icon svg {
    font-size: 2.1rem;
  }

  // Accordion
  .joint-listing-accordion-wrap {
    thead {
      border-bottom: 3px solid #d8e3f4;
      outline: none;
    }
    .MuiPaper-root {
      box-shadow: none;
    }

    .MuiSvgIcon-root {
      color: #3D6CB4;
    }

    .MuiTableCell-root {
      border: none;
    }
    .MuiTableRow-root:not(.accordion-row) {
      box-shadow: none;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom: 3px solid #d8e3f4;
    }
  }

  .accordion-fold-content {
    padding: 0px 20px;
    .action-buttons {
      button {
        width: 85px;
        align-self: flex-end;
      }
    }
    .row {
      min-height: 145px;
    }
  }

  .accordion-row-content {
    min-height: 145px;
  }

  .accordion-row {
    display: flex;
    justify-content: left;
    width: 100%;

    td {
      height: 52px;
      display: flex;
      padding: 0px 20px;

      button {
        min-width: 50px;
      }
    }
  }

  .selection-active {
    color: #548fcb;
  }

  .bg-light-blue {
    background: #d5e4f6;
  }

  .bg-white {
    background: #fff;
  }

  .selected-accordion-row {
    background: #d5e4f6;
  }

  .selected-row {
    background: #eaf2fa;
  }
}

.sidebar-animate-fadein {
  animation: fadeInAnimation ease 1700ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.sidebar-animate-fadeout {
  animation: fadeOutAnimation ease 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.w-0 {
  width: 0px;
}

.w-100 {
  width: 100%;
}