body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.fi-dropdown_popover {
  margin-top: 0px !important;
}

.fi-notification {
  position: fixed;
  bottom: 111px;
  right: 15px;
  margin: 100px;
  width: 20% !important;
}

/* EDIT MAPPING MODAL */
.edit-mapping-modal {
  width: 1000px !important;
  .bg-light-blue {
    background: #d5e4f6 !important;
    height: 460px;
  }
  .edit-mapping-modal-content {
    font-size: 0.9rem;
    padding: 30px 30px 30px 30px !important;
    height: 600px !important;
  }
}

.empty-mappings-table {
  font-size: 0.9rem;
  height: 200px;
  padding: 20px;
  background: #ecedee;
  color: #6b6b6b;
  svg {
    margin-right: 15px;
  }
}

.node-selection-action-buttons {
  button {
    margin: 5px 0px;
  }
  flex-direction: column;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-top: 3px solid #d5e4f6;
  button {
    min-width: 69px;
    margin: 20px 15px 10px 10px;
  }
}

.crosswalk-editor {
  color: #2b2b2b;

  h2 {
    color: #6b6b6b;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .link-button {
    width: 60px;
    height: 60px;
    svg {
      margin-left: -2px;
    }
  }

  // Crosswalk editor tree
  .MuiTreeItem-label {
    font-size: 17px !important;
  }

  .MuiTreeItem-iconContainer svg {
    font-size: 26px !important;
  }

  .MuiTreeItem-content {
    padding: 0px;
  }

  .MuiTableCell-root {
    font-size: 17px;
    &.filename {
      word-break: break-word;
    }
  }

  .MuiButton-root {
    font-size: 17px;
  }

  .MuiTabs-scroller button {
    font-size: 27px;
  }

  .linked-tree-item {
    font-size: 10px;
    //background-color: #ede4ff !important;
  }

  .linkable-tree-item {
    //background-color: #eaffe4 !important;
  }

  .not-linkable-tree-item {
    //background-color: #ffe4e4 !important;
  }

  .MuiTreeItem-label {
    cursor: pointer !important;
    user-select: none;
  }

  .mid-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    flex-flow: wrap;
    button {
      height: 60px;
      width: 60px;
      border-radius: 4px;
    }
  }

  h5 {
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: bold;
  }

  .actions-link-icon svg {
    font-size: 2.1rem;
  }

  // Accordion
  .joint-listing-accordion-wrap {
    thead {
      border-bottom: 3px solid #d8e3f4;
      outline: none;
    }
    .MuiPaper-root {
      box-shadow: none;
    }

    .MuiSvgIcon-root {
      color: #3D6CB4;
    }

    .MuiTableCell-root {
      border: none;
    }
    .MuiTableRow-root:not(.accordion-row) {
      box-shadow: none;
      border-left-width: 0;
      proder-right-width: 0;
      border-bottom: 3px solid #d8e3f4;
    }
  }

  .accordion-fold-content {
    padding: 0px 20px;
    .action-buttons {
      button {
        width: 85px;
        align-self: flex-end;
      }
    }
    .row {
      min-height: 145px;
    }
  }

  .accordion-row-content {
    min-height: 145px;
  }

  .accordion-row {
    display: flex;
    justify-content: left;
    width: 100%;

    td {
      height: 52px;
      display: flex;
      padding: 0px 20px;

      button {
        min-width: 50px;
      }
    }
  }

  .selection-active {
    color: #548fcb;
  }

  .bg-light-blue {
    background: #d5e4f6;
  }

  .bg-white {
    background: #fff;
  }

  .selected-accordion-row {
    background: #d5e4f6;
  }

  .selected-row {
    background: #eaf2fa;
  }

  /* CROSSWALK SELECTION */
  .crosswalk-selection-modal {
    font-size: 0.85rem;

    .source-select-dropdown {
      width: 100% !important;
    }

    .source-select-info-box {
      margin-top: 15px;
      padding: 5px;
      width: 100%;
      background: #e2f1fd;
    }
  }
}
