body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.row-heading {
  font-size: 0.9rem;
  font-weight: bold;
  height: 40px;
}

.row-label {
  font-size: 16px;
  margin-left: 11px;
}

.fi-dropdown_popover {
  margin-top: 0px !important;
}

.fi-notification {
  position: fixed;
  bottom: 111px;
  right: 15px;
  margin: 100px;
  width: 20% !important;
}

.node-mappings {
  .fi-label {
    display: none;
  }
  .row {
    line-height: 2.2rem;
  }
}


/* EDIT MAPPING MODAL */
.edit-mapping-modal {
  width: 1000px !important;
  .bg-light-blue {
    background: #d5e4f6 !important;
    height: 460px;
  }
  .edit-mapping-modal-content {
    font-size: 0.9rem;
    padding: 30px 30px 30px 30px !important;
    height: 600px !important;
  }
}

.empty-mappings-table {
  font-size: 0.9rem;
  height: 200px;
  padding: 20px;
  background: #ecedee;
  color: #6b6b6b;
  svg {
    margin-right: 15px;
  }
}

.node-selection-action-buttons {
  button {
    margin: 5px 0px;
  }
  flex-direction: column;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-top: 3px solid #d5e4f6;
  button {
    min-width: 69px;
    margin: 20px 15px 10px 10px;
  }
}

.crosswalk-editor {
  color: #2b2b2b;
  .fi-dropdown_button {
    min-width: 100% !important;
    width: 100%;
  }

  .fi-search-input {
    width: 100%;
  }

  h2 {
    color: #6b6b6b;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .expand-button-wrap {
    margin-top: 37px;
    margin-right: 15px;
  }

  .link-button {
    width: 60px;
    height: 60px;
    svg {
      margin-left: -2px;
    }
  }

  .node-info-wrap {
    font-size: 0.9rem;
    color: #6b6b6b;
    .attribute-font {
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin-bottom: 2px;
      color: #2b2b2b;
      margin-top: -2px;
      inline-size: 100%;
      overflow-wrap: break-word;
    }
    h2 {
      color: #6b6b6b;
      font-size: 1.1rem;
      font-weight: normal;
      margin-bottom: 0px;
      padding: 17px 14px 0px 17px;
    }
    .fi-dropdown {
      width: 100%;
    }
    .side-bar-wrap {
      padding: 5px 5px;
    }
    background: #d8e3f4;
    .dropdown-wrap {
      margin-top: -35px;
      margin-bottom: 15px;
    }
    .bg-wrap {
      font-size: 0.95rem;
      background: #fff;
      padding: 15px;
      min-height: 377px;
      max-width: 500px;
    }
    .node-info-texts {
      padding: 5px;
    }
    .node-info-dropdown {
      ul {
        max-width: 265px !important;
      }
    }
  }

  // Crosswalk editor tree
  .MuiTreeItem-label {
    font-size: 17px !important;
  }

  .MuiTreeItem-iconContainer svg {
    font-size: 26px !important;
  }

  .MuiTreeItem-content {
    padding: 0px;
  }

  .MuiTableCell-root {
    font-size: 17px;
  }

  .MuiButton-root {
    font-size: 17px;
  }

  .MuiTabs-scroller button {
    font-size: 27px;
  }

  .linked-tree-item {
    font-size: 10px;
    //background-color: #ede4ff !important;
  }

  .linkable-tree-item {
    //background-color: #eaffe4 !important;
  }

  .not-linkable-tree-item {
    //background-color: #ffe4e4 !important;
  }

  .MuiTreeItem-label {
    cursor: pointer !important;
    user-select: none;
  }

  .mid-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    flex-flow: wrap;
    button {
      height: 60px;
      width: 60px;
      border-radius: 4px;
    }
  }

  .content-box {
    //border: 4px solid #3D6DB6;
    background-color: #fff;
    border-radius: 5px;
  }

  .node-info-box {
    min-height: 175px;
    font-size: 0.95rem;
    margin: 0px;

    .source-to-destination-wrap {
      min-height: 42px;

      button {
        padding: 0px;
      }

      .arrow-icon {
        margin: 0px 15px;
        font-size: 1.3rem;
      }
    }
  }

  h5 {
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: bold;
  }

  .actions-link-icon svg {
    font-size: 2.1rem;
  }

  // Accordion
  .joint-listing-accordion-wrap {
    thead {
      border-bottom: 3px solid #d8e3f4;
      outline: none;
    }
    .MuiPaper-root {
      box-shadow: none;
    }

    .MuiSvgIcon-root {
      color: #3D6CB4;
    }

    .MuiTableCell-root {
      border: none;
    }
    .MuiTableRow-root:not(.accordion-row) {
      box-shadow: none;
      border-left-width: 0;
      proder-right-width: 0;
      border-bottom: 3px solid #d8e3f4;
    }
  }

  .accordion-fold-content {
    padding: 0px 20px;
    .action-buttons {
      button {
        width: 85px;
        align-self: flex-end;
      }
    }
    .row {
      min-height: 145px;
    }
  }

  .accordion-row-content {
    min-height: 145px;
  }

  .accordion-row {
    display: flex;
    justify-content: left;
    width: 100%;

    td {
      height: 52px;
      display: flex;
      padding: 0px 20px;

      button {
        min-width: 50px;
      }
    }
  }

  .selection-active {
    color: #548fcb;
  }

  .bg-light-blue {
    background: #d5e4f6;
  }

  .bg-lightest-blue {
    background: #EAF2FA;
  }

  .bg-white {
    background: #fff;
  }

  .selected-accordion-row {
    background: #d5e4f6;
  }

  .selected-row {
    background: #eaf2fa;
  }

  /* CROSSWALK SELECTION */
  .crosswalk-selection-modal {
    font-size: 0.85rem;

    .source-select-dropdown {
      width: 100% !important;
    }

    .source-select-info-box {
      margin-top: 15px;
      padding: 5px;
      width: 100%;
      background: #e2f1fd;
    }
  }

  .metadata-and-files-wrap {
    h2 {
      color: #6f787d;
      font-size: 1.3rem;
    }
  }
}
