{
  "files.exclude": {
    "**/.git": true, // this is a default value
    "**/.DS_Store": true, // this is a default value
    "**/node_modules": true,
    "out": true,
    "yarn.lock": true
  },
  // This is needed now that we're using npm workspaces
  "eslint.workingDirectories": [
    { "directory": "./terminology-ui", "changeProcessCWD": true },
    { "directory": "./datamodel-ui", "changeProcessCWD": true },
    { "directory": "./common-ui", "changeProcessCWD": true},
    { "directory": "./mscr-playground-app", "changeProcessCWD": true},
    
  
  

  ]
}
