@import './vendor/variables';

$body-color:              $gray-700;

$primary:                 #375e97;
$success:                 #43ac6a;
$info:                    #5bc0de;
$warning:                 #e99002;
$danger:                  #d32f2f;

$lighter:                 #ebeff2;
$light:                   #7e9cad;
$dark:                    #375e97;

$navbar-dark-color:       rgba(255,255,255,1);

$breadcrumb-bg:           #ffffff solid;
$breadcrumb-active-color: $gray-800;

$input-color-placeholder: $gray-200 !important;

$list-group-hover-bg:     $gray-100 !default;

$footer-height:           50px;

$modal-lg:                95% !default;
$modal-md:                60% !default;
$modal-sm:                30% !default;
