@import '~vis/dist/vis.css';
@import '~yti-common-ui/theme/init';
@import '~bootstrap/scss/variables';

$page-padding: 20px;

// XXX: reset .btn.link styles because new ng-bootstrap wanted to add button there
app-terms ngb-accordion .card-header button {
  padding: 0;
  color: $body-color;
  width: 100%;
  text-align: left;
}

.dragged {
  background-color: $body-bg !important;
  color: $body-bg;
  border: 1px dashed $warning;

  &.droppable {
    border-color: black;
  }
}

[draggable="true"] {
  .material-icons {
    color: $gray-500;

    &:hover {
      cursor: move;
    }
  }
}

[draggable="false"] {
  .material-icons {
    display: none !important;
  }
}

.material-icons.drag-icon {
  color: #2A6EBB;
}

.fa.info {
  color: $primary;
  font-size: small;
}

div.removable-text {
  display: inline-block;
  width: calc(100% - 17px);
}

nav.navbar {
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.container-fluid {
  padding: 20px $page-padding;
  background-color: $light;
  border-top: 1px solid $gray;

  &.without-footer {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

[hidden] {
  display: none !important;
}

// TODO move to yti-common-ui
.modal-footer {
  .alert {
    margin-bottom: 0;
    border: 0;
  }
}

.input-group.input-group-search {

  position: relative !important;

  .form-control {
    padding-right: 3rem !important;

    &:focus {
      outline: 0 none;
    }
  }

  &:before {
    color: $gray-600;
    content: '\f002'; // FIXME: $fa-var-search variable doesn't work
    font-family: "Font Awesome 5 Free Solid";
    top: 10px;
    right: 15px;
    font-size: $font-size-lg;
    position: absolute;
    z-index: 10;
  }
}

.floating {
  position: fixed;
  backface-visibility: hidden;
  z-index: 1;
}

.network-canvas .vis-tooltip {
  white-space: normal !important;
}

.top-actions {

  @include clearfix;
  background-color: white;
  margin-bottom: 20px;

  p.button-label {
    padding-top: 8px;
  }

  button {
    margin: 0 0 0 10px;
  }

  app-ajax-loading-indicator-small {
    margin-top: 10px;
  }
}

.component-header {

  padding: 9px 15px;
  font-size: 26px;
  height: 53px;

  h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 35px;
    font-weight: bold;
  }
}

.component-content {
  padding: 15px;
}

div.localized {

  display: inline-block;
  width: 100%;

  div.language {

    font-weight: bold;
    border-radius: 2px;
    float: left;
    color: $white;
    background-color: $primary;
    width: $language-width;
    height: $language-height;
    display: inline-block;
    text-align: center;
    line-height: $language-height;
  }

  div.localization {

    float: left;
    width: calc(100% - #{$language-width});
    min-height: $language-height;
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;

    &.removable {
      float: left;
      width: calc(100% - #{$language-width + 32});
    }

    /deep/ app-semantic-text-input {
      .action {
        top: -37px;
        right: 10px;
      }
    }
  }
}

textarea, [contenteditable] {
  min-height: 150px;
}

body.visualization-maximized {
  overflow: hidden !important;
}

.highlight {
  font-weight: bold;
}
