@import './variables';
@import '~bootstrap/scss/bootstrap';
@import './vendor/bootswatch';
@import "~font-awesome/scss/variables";

.container {
  margin-left: 0;
  margin-right: 0;
}

span.highlight {
  font-weight: bold;
}

[hidden] {
  display: none !important;
}

.btn-default {
  color: white;
  background-color: $light;
  border: 1px solid $light;
}

.btn {
  padding: 8px 12px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: white;
  background-color: $dark;
  border: 1px solid $light;
}

.btn-link {
  color: $primary;
}

.input-group.input-group-search {

  position: relative !important;

  .form-control {
    padding-left: 3rem !important;

    &:focus {
      outline: 0 none;
    }
  }

  &:before {
    content: $fa-var-search;
    font-family: FontAwesome;
    top: 10px;
    left: 15px;
    font-size: $font-size-lg;
    position: absolute;
    z-index: 10;
  }
}

.floating {
  position: fixed;
  backface-visibility: hidden;
  z-index: 1;
}

.modal-header {

  color: white;
  border-color: darken($primary, 5%);
  background-color: $primary;

  h4 {
    width: 100%;
  }

  span {
    float: left;
  }

  a {
    float: right;
    cursor: pointer;
  }

  &.modal-header-warning {
    color: theme-color-level('warning', 6);
    background-color: theme-color-level('warning', -10);
    border-color: theme-color-level('warning', -9);
  }

  &.modal-header-danger {
    color: theme-color-level('danger', 6);
    background-color: theme-color-level('danger', -10);
    border-color: theme-color-level('danger', -9);
  }
}

.modal-footer {
  border-top: 1px solid #e5e5e5;
}

.modal-body {

  display: inline-block;
  width: 100%;

  &.full-height {
    height: calc(100vh - 200px);

    > div.row {

      height: 100%;

      > div.col-md-4, div.col-md-6, div.col-md-12 {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}

.network-canvas .vis-tooltip {
  white-space: normal !important;
}

.top-actions {

  @include clearfix;
  background-color: white;

  p.button-label {
    padding-top: 8px;
  }

  button {
    margin: 5px;
  }

  app-ajax-loading-indicator-small {
    margin-top: 10px;
  }
}

.modal-alert {
  display: inline;
  padding: 10px;
  margin: 0 5px 0 0;
}
