:host /deep/ {
  input {
    width: calc(100% - 10px);
  }
}

.add-button {
  float: right;
  margin-top: -34px;
  margin-bottom: 5px;
  padding: 5px 8px;
}

.remove-button {
  float: right;
  padding: 6px;
}

.reorder-handle {
  float: right;
  padding: 6px 0px;
}

.removable {
  float: left;
  width: calc(100% - 30px);
}

.text-area-list-value {
  margin-bottom: 0.5rem;
}
