@import '~yti-common-ui/theme/variables';

.add-button {

  float: right;
  display: inline-block;
  margin-top: -34px;
  margin-bottom: 5px;

  button {
    padding: 5px 8px;
  }

  i {
    padding-right: 5px;
  }
}

.remove-button {
  padding-left: 7px;
  padding-right: 7px;
  float: right;
}

.reorder-handle {
  padding: 9px 3px;
  float: right;
}
