@import '../../../variables';

$language-size: 32px;

.add-button {

  float: right;
  display: inline-block;
  margin-top: -34px;
  margin-bottom: 5px;

  button {
    padding: 5px 8px;
  }

  i {
    padding-right: 5px;
  }
}

.remove-button {
  float: right;
  padding: 6px 8px;
}

div.localized {

  display: inline-block;
  width: 100%;

  div.language {

    float: left;
    color: white;
    background-color: $brand-primary;
    width: $language-size;
    height: $language-size;
    display: inline-block;
    text-align: center;
    line-height: $language-size;
  }

  div.localization {

    float: left;
    border: 2px solid $brand-primary;
    width: calc(100% - #{$language-size});
    min-height: $language-size;
    padding-left: 10px;
    padding-right: 10px;
    line-height: calc(#{$language-size} - 4px);

    &.removable {
      float: left;
      width: calc(100% - #{$language-size + 32});
    }

    div.form-group {
      margin-bottom: 0;
    }

    input, textarea {
      margin-left: -10px;
      padding: 6px 10px;
      border: none;
    }

    input {
      height: calc(#{$language-size} - 4px);
    }

    /deep/ markdown-input {
      .action {
        top: -37px;
        right: 10px;
      }
    }
  }
}
