@import '../../../_variables';

:host /deep/ {

  display: inline-block;
  position: relative;
  width: 100%;

  span.link {
    color: $link-color;
  }

  p:last-child {
    margin-bottom: 0;
  }

  [contenteditable] {

    &:focus {
      outline: none;
    }
  }
}
