@import '../../../_variables';

:host /deep/ {

  display: inline-block;
  position: relative;
  width: 100%;

  span.link {
    color: $link-color;
  }

  p:last-child {
    margin-bottom: 0;
  }

  [contenteditable] {

    &:focus {
      outline: none;
    }
  }
}

.action {

  position: absolute;
  display: inline-block;
  width: 100%;
  top: -34px;
  right: 0;

  .btn {
    float: right;
    font-size: 20px;
    padding: 1px 5px;
  }

  .content {
    float: right;
    line-height: 29px;
    padding-right: 10px;
  }
}
