@import "~yti-common-ui/theme/variables";

$offset: 60;

:host {
  padding: 15px 45px 10px 45px;
  display: inline-block;
  position: absolute;
  left: #{-$offset}px;
  width: calc(100% + #{$offset * 2}px);
  min-height: 20px;
  background: rgba(255, 255, 255, 0.9);
}

.popover {
  position: relative;
  display: inline-block;
  left: 15px;
  width: calc(100% - 30px);
  max-width: 100%;
  bottom: 11px;
  z-index: 1039; // show under modal backdrop

  .actions {
    margin-top: -5px;
    margin-right: -10px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .btn {
      margin-bottom: 2px;
    }
  }
}
