@import '~yti-common-ui/theme/variables';

:host /deep/ {

  display: inline-block;
  position: relative;
  width: 100%;

  span.link {
    text-decoration: underline;
  }

  p:last-child {
    margin-bottom: 0;
  }

  [contenteditable] {

    word-wrap: break-word;
    overflow-wrap: break-word;
    height: auto;

    &:focus {
      outline: none;
    }
  }
}

div.invalid-data {
  color: $danger;
  border-color: $danger;
  font-weight: bolder;
}

