@import '../../../variables';
@import './term.component';

.add-button {

  float: right;
  display: inline-block;
  margin-top: -34px;
  margin-bottom: 5px;

  button {
    padding: 5px 8px;
  }

  i {
    padding-right: 5px;
  }
}

.remove-button {

  display: inline-block;
  float: right;
}
