@import '../../../variables';

$language-height: 32px;
$language-width: 42px;

:host /deep/ {

  .card-header {
    background-color: $brand-accent-lighter;
    border: none;
    padding: 0;
    margin-bottom: 5px;

    a {
      color: rgb(68, 68, 68);
      text-decoration: none !important;
    }
  }
  .card {
    border: none;
  }
  .card-block {
    padding: 0 30px 0 0;
    border: 1px solid $brand-accent-lighter;
    margin-top: -5px;
    margin-bottom: 5px;
  }

  .row {
    margin-top: 10px;
    margin-left: 22px;
  }

  // FIXME: duplication with localized-input component styles
  div.language {

    float: left;
    color: white;
    background-color: $brand-primary;
    width: $language-width;
    height: $language-height;
    display: inline-block;
    text-align: center;
    line-height: $language-height;
  }

  div.localization {
    float: left;
    width: calc(100% - #{$language-width});
    min-height: $language-height;
    padding-left: 10px;
    line-height: $language-height;
  }

  app-accordion-chevron {
    font-size: x-large;
    padding-right: 10px;
  }
}

.add-button {

  float: right;
  display: inline-block;
  margin-top: -34px;
  margin-bottom: 5px;

  button {
    padding: 5px 8px;
  }

  i {
    padding-right: 5px;
  }
}

.remove-button {

  display: inline-block;
  float: right;
}
