@import '../../../theme/variables';

:host /deep/ {

  .card-header {
    background-color: $light;
    border: none;
    padding: 0;
    margin-bottom: 5px;

    a {
      color: rgb(68, 68, 68);
      text-decoration: none !important;
    }
  }
  .card {
    border: none;
  }

  .card-block {
    padding: 0 30px 0 0;
    border: 1px solid $light;
    margin-top: -5px;
    margin-bottom: 5px;
  }

  .row {
    margin-top: 10px;
    margin-left: 22px;
  }

  div.localization {
    line-height: $language-height;
    padding-right: 0 !important;
  }

  app-accordion-chevron {
    font-size: x-large;
    padding-right: 10px;
  }
}

.add-button {

  float: right;
  display: inline-block;
  margin-top: -34px;
  margin-bottom: 5px;

  button {
    padding: 5px 8px;
  }

  i {
    padding-right: 5px;
  }
}

.remove-button {

  display: inline-block;
  float: right;
}
