@import '../../../theme/variables';

.container-fluid {
  background-color: $white;
}

.title {
  color: $brand-color;
}

a {
  cursor: pointer;
  font-size: smaller;
}

h4 {
  font-weight: 600;
  margin-top: 0.5rem;
}
ul {
  list-style: none;
}

p {
  font-size: 18px;
}
