@import '~yti-common-ui/theme/variables';


.nav-item.logged-in {

  text-align: right;
  margin-bottom: -10px;

  > a {
    padding-top: 0;
  }

  > span {
    color: $body-color;
    padding-right: 10px;
  }
}

.navbar-brand {
  max-height: 80px;

  .logocontainer {
    padding-top: 15px;
    height: 80px;
    vertical-align: middle;
    display: inline-block;
    float: none;
  }

  .applogo {
    max-width: 80px;
    max-height: 80px;
    vertical-align: middle;
    display: inline-block;
    float: none;
  }

  .apptitle {
    height: 55px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    float: none;
  }
}
