<div class="sb-search">
    <div class="search-input-wrapper">
        <input class="sb-search-input"           
            (blur)="onBlur()"
            (focus)="onFocus()"
            [(ngModel)]="searchTextModel"
            [formControl]="searchText"
            placeholder="Search...">
    </div>
    <div class="sb-message" *ngIf="!!message && active"><span>{{ message }}</span></div>
    <!-- Search results -->
    <div class="sb-searchresults" [class.hidden]="!active">
        <ul class="sb-results-dropdown-menu" >
            <li *ngFor="let result of results$ | async" (mousedown)="resultSelected(result)">
                <a [routerLink]="['/concepts', result.graphId, 'concept', result.conceptId]"
                   [innerHTML]="result.value | highlight: searchTextModel"></a>
            </li>
        </ul>
    </div>
</div>